/*
div {
	-webkit-column-count: 2; /* Chrome, Safari, Opera 
    -moz-column-count: 2; /* Firefox 
    column-count: 2;
    
    -webkit-column-rule-color: #009933; /* Chrome, Safari, Opera 
    -moz-column-rule-color: #009933; /* Firefox 
    column-rule-color: #009933;
}
*/

body {
	/*
	background-image: url(field.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	*/
  	
  	color: white;  
  	text-shadow: 2px 2px #000000;	
  	background-color: #26734d;
}

h1 {
	/*color: white; */
	text-align: center;
}

p {
	font-size: 400%;
	text-align: center;
}
h2 {
	text-align: left;
	border-style: solid;
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    
   
}
h3 {
	text-align: right;
	border-style: double;
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    
}
#bb {
	style-text: white;
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;
}

#background {
	max-width: 100%;
	top: 0px;
	z-index: -1;
	margin-top: 0px;
	height: auto;
	
}




