body {
	background-image: url(field.jpg);
	background-size: 
	background-color: lightBlue; 
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	color: white;
	text-align: center;
}

p {
	font-size: 200;
	color: white;
	text-align: center;
}
img {
	/*margin: auto;
	width: 40%; 
	*/
}